<body>
  <div class="container form">
    <div class='card formbox' style="width: 30rem;">
      <div class='card-block'>
        <h2 class="message">Sign in</h2>
        <p class="message"><em>Please enter your email, then password.</em></p>
        <% flash.each do |key, value| %>
        <div><%= value %></div>
        <% end %>

        <%= form_tag sessions_path do %>
        <div class="field">
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div class="field">
          <%= password_field_tag :password %>
        </div>
        <div class="field">
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          <%= label_tag :remember_me %>
        </div>
        <div class="actions"><%= submit_tag "Enter" %></div>
        <% end %>

        <div class="back"><button class="btn-secondary"><%= link_to 'Back', root_path %></button></div>
      </div>
    </div>
  </div>
</body>
