<div id='container'>
  <div class='nav'>
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Sign up", signup_path %> |
      <%= link_to "Log in", login_path %>
    <% end %>
  </div>
</div>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1> Hi, <%= @user.email %> ! </h1>

<% if @user.places == [] %>
  <p> You have not added any cities yet. </p>
<% else %>
  <% @data.keys.each do |place| %>
    <% if place.name.split.length > 1 %>
      <% p = place.name.split.each {|p| p.capitalize!} %>
      <% place.name = p.join(' ') %>
    <% else %>
      <% place.name.capitalize! %>
    <% end %>

    <%= place.name %> <br>
    Current temperature: <%= (((@data[place]['main']['temp']) * (9.0/5)) - 459.67).round %> Farenheit
    <br>
    <%= link_to 'More Details', place_path(place) %> |
    <%= link_to 'Delete', place_path(place), method: :delete %>
    <br>
    <br>
  <% end %>
<% end %>


<%= link_to 'Add City', new_place_path(current_user) %>
