<body class="showbody">
  <div id='container'>
    <div class='nav shownav'>
        <div class="welcome"><h4><strong>Welcome back, <%= current_user.email %>!</strong></h4></div>
        <div class="showlog"><%= link_to "Log out", logout_path, class:"btn btn-outline-primary" %></div>
    </div>
  </div>

    <div><h1 class='text-center'>Your Cities</h1></div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active" id="option1">
        <input type="radio" name="options" id="option1" autocomplete="off" onclick="farenheit()" checked> F
      </label>
      <label class="btn btn-primary" id="option2">
        <input type="radio" name="options" id="option2" autocomplete="off" onclick="celsius()"> C
      </label>
    </div>

    <% if @user.places == [] %>
    <div class='container-fluid'><p> You have not added any cities yet. </p></div>
    <% else %>
    <div class='container big-block'>
      <div class="card-columns">

      <% cache(@data, expires_in: 1800) do %>
        <% @data = {} %>
        <% @places.each do |city| %>
        <%   @data[city] = HTTParty.get("http://api.openweathermap.org/data/2.5/weather?q=#{city.name}&APPID=7fec57ebd6b7829c707e3637694695d5") %>
        <% end %>
      <% end %>

      <% @data.keys.each do |place| %>
        <% if place.name.split.length > 1 %>
          <% p = place.name.split.each {|p| p.capitalize!} %>
          <% place.name = p.join(' ') %>
        <% else %>
          <% place.name.capitalize! %>
        <% end %>

      <div class='card tiles'>
        <div class='card-block'>
          <% icon = ('http://openweathermap.org/img/w/' + @data[place]['weather'][0]['icon'] + '.png') %>
          <div class='namecity'><h4 class="card-title"><%= place.name %> </h4><%= image_tag icon %></div>
          <div class='temp f'><h4 class="card-title"><%= farenheit(@data[place]['main']['temp']).round %>&deg; F</h4></div>
          <div class='temp c' style='display:none;'><h4 class="card-title"><%= ((@data[place]['main']['temp']) - 273.15).round %>&deg; C</h4></div>
          <div class='citybuttons'><%= link_to 'More Details', place_path(place), class:"btn btn-outline-secondary" %>
          <%= link_to 'Delete', place_path(place), method: :delete, class:"btn btn-outline-secondary" %></div>
        </div>
      </div>
      <% end %>
    <% end %>

    </div>
  </div>

  <div class="adding">
  <%= link_to 'Add City', new_place_path(current_user), class:"btn btn-primary add-city" %>
  </div>

</body>
