<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1> Hi, <%= @user.email %> ! </h1>

<% if @user.places == [] %>
  <p> You have not added any cities yet. </p>
<% else %>
  <% @user.places.each do |place| %>
    <%= place.name %> <%= @data.to_json %><%= link_to 'Delete', place_path(place), method: :delete %>
    <br>
    <br>
  <% end %>
<% end %>

<%= link_to 'Add City', new_place_path(current_user) %>
