<body>
  <% if flash[:notice] %>
  <div class="notice text-center"><%= flash[:notice] %></div>
  <% end %>

  <div class="container homecontainer">
    <div class="fullscreen-bg">
      <%= video_tag("clouds.mp4", size: "640x360", controls: false, autoplay: true, muted: true, loop: true, poster: image_path("poster.jpg")) %>
    </div>
    <div class='card indexbox' style="width: 30rem;">
      <div class='card-block'>
        <h2 class="card-title title">Weather Station</h2>
        <p class="card-text text"><em>Check your weather here, there, or anywhere!</em></p>
        <div class="buttons">
          <% if current_user %>
          Logged in as <%= current_user.email %>.
          <button class='btn-secondary'><%= link_to "Log out", logout_path %></button>
          <% else %>
          <%= link_to "Sign up", signup_path, class:'btn btn-secondary' %>
          <%= link_to "Log in", login_path, class:'btn btn-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
