<div id='container'>
  <div class='nav'>
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Sign up", signup_path %> |
      <%= link_to "Log in", login_path %>
    <% end %>
  </div>
</div>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="main">
<h1>Weather Station</h1>
<p>Check your weather here, there, or anywhere!</p>
</div>
