<% response = Rails.cache.read('call') %>
<% if response %>
  <% @data = response[@place.name] %>
<% else %>
  <% @data = HTTParty.get("http://api.openweathermap.org/data/2.5/weather?q=#{@place.name}&APPID=7fec57ebd6b7829c707e3637694695d5") %>
<% end %>

<% backg =  set_background(@data['weather'][0]['description'])  %>

<body class='showcity' style="background-image: url( <%= backg %> );">
  <div class="container showcitymain">
    <div class='card showcityinner'>
      <div class='card-block showcitybox'>

        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> F
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off"> C
          </label>
        </div>

        <% p = @place.name.split(' ').each {|word| word.capitalize!} %>
        <% p = p.join(' ') %>

        <h2 class="message showcitybox"><%= p %>, <%= @data['sys']['country'] %></h2>
        <h2 class="message showcitybox f"><%= farenheit(@data['main']['temp']).round(1) %>&deg; F</h2>
        <h2 class="message showcitybox c" style="display: none;"><%= celsius(@data['main']['temp']).round(1) %>&deg; C</h2>
        <h3 class="message showcitybox">Currently: <%= @data['weather'][0]['description'] %></h3>
        <h3 class="message showcitybox f">Low: <%= farenheit(@data['main']['temp_min']).round %>&deg; F</h3>
        <h3 class="message showcitybox c" style="display: none;">Low: <%= celsius(@data['main']['temp_min']).round %>&deg; C</h3>
        <h3 class="message showcitybox f">High: <%= farenheit(@data['main']['temp_max']).round %>&deg; F</h3>
        <h3 class="message showcitybox c" style="display: none;">High: <%= celsius(@data['main']['temp_max']).round  %>&deg; C</h3>
        <h3 class="message showcitybox">Humidity: <%= @data['main']['humidity'] %>%</h3>
        <h3 class="message showcitybox">Wind: <%= (@data['wind']['speed']).round(1) %> mph</h3>

      <div class="showbutton"><%= link_to 'Back', user_path(current_user), class:"btn btn-secondary" %></button></div>

      </div>
    </div>
  </div>
</body>
